:root {
  /* Primary colors */
  --clr-lightblue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);

  /* Neutral colors */
  --clr-darkblue-main: hsl(217, 54%, 11%);
  --clr-darkblue-card: hsl(216, 50%, 16%);
  --clr-darkblue-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 0.1em;
  color: var(--clr-darkblue-main);
}

p {
  font-size: 1.125rem;
  color: var(--clr-lightblue);
}

.skip-link {
  background-color: var(--clr-darkblue-main);
  color: #fff;
  font-weight: 700;
  left: 45%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}

/* Parent container  */

.container {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

/* NFT image */

.cube-img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  display: block;
  margin: 25px auto 15px auto;
}

.img-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 25px auto 10px auto;
}

/* Image overlay  */

.overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--clr-cyan);
}

.icon {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 10;
}

.img-container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.img-container:hover .icon {
  opacity: 1;
}

/* NFT Card format section */

.nft-card {
  height: 600px;
  width: 350px;
  background: var(--clr-darkblue-card);
  border-radius: 20px;
  padding-bottom: 10px;
  box-shadow: -8px 10px 30px 1px rgba(3, 14, 31, 0.49);
  -webkit-box-shadow: -8px 10px 30px 1px rgba(3, 14, 31, 0.49);
  -moz-box-shadow: -8px 10px 30px 1px rgba(3, 14, 31, 0.49);
}

/* NFT card title  */
.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--clr-white);
  margin-top: 25px;
  margin-left: 25px;
}
.card-title:hover {
  color: var(--clr-cyan);
  cursor: pointer;
}

/* Card description */
.card-description {
  line-height: 1.75rem;
  padding-bottom: 20px;
  font-weight: 300;
  margin: -5px 20px auto 25px;
}

/* Crypto price and symbol */
.crypto-symbol {
  margin: 10px 4px -4px 25px;
  display: inline;
}

.crypto-price {
  font-weight: 600;
  font-size: 1rem;
  display: inline;
  color: var(--clr-cyan);
}

/* Time indicator */
.clock-img {
  display: inline;
  margin: auto 3px -2px auto;
}

.days-indicator {
  display: inline;
  font-size: 1rem;
  margin-left: 110px;
  font-weight: 400;
}

.divider {
  border-color: var(--clr-darkblue-line);
  margin-top: 15px;
  height: 1px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

/* NFT creator section */

.avatar {
  height: 30px;
  width: 30px;
  display: inline;
  border: solid 1px var(--clr-white);
  border-radius: 50%;
  margin: 10px 10px -10px 25px;
}

.nft-creator {
  display: inline;
  color: var(--clr-lightblue);
}
.creator-name {
  color: var(--clr-white);
  cursor: pointer;
}

.creator-name:hover {
  color: var(--clr-cyan);
}
